*{
    margin: 0;
    padding: 0;
    color: #3E3E3E;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
body{
    background-color: #FBF8F9;
}
.entete{
    width: 100%;
    text-align: end;
}
.entete img{

    width: 18%;
}
.entete nav{
    margin-top: 2%;
    width: 40%;
    float: right;
}
.entete nav ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    max-width: 400px;
}
.entete nav ul li{
    margin: 0 auto;
}
.entete nav ul li a{
    text-decoration: none;
    color: #707070;
}

form{
    width: 50%;
    margin: 10% auto;
    text-align: center;
}
form a{
    color: #707070;
    display: inherit;
    margin: 2%;
}
form input{
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}
label,input{
    margin: 2% auto;
    display: block;
}
.button{

    padding: 10px 35px;
    border-radius: 25px;
    background-color: white;
    margin: 0 5%;
}
#presentation{
    width: 80%;
    height: 20%;
    margin: 10% auto;
    font-size: 1.5em;
}

select{
    min-width: 300px;
}