<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}intranet greta{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="entete" id="logo">
            <img src="{{ asset('images/logoLeGreta@2x.png') }}" alt="logogreta">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Acceuil</a>

                <a class="navbar-brand" href="/account/create">Inscription</a>

                <a class="navbar-brand" href="/">Recherche</a>

                <a class="navbar-brand" href="#">Mon Compte</a>


            </nav>
        </div>
        {% block body %}
        {% block img %}
        {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
